
html {
  overflow-y: scroll;
}

#content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#videos {
/*  float:top;*/
  position: absolute; 
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #ffffff;
  height: 75%;
}

#chatbox {
/*  float:bottom; */
  position: absolute; 
  height: 25%;
  right: 20px;
  left: 20px;
  bottom: 0px;
}

#chatinput {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 8px;
  border-style:solid;
  border-width:1px;
}

#messages {
  overflow: scroll;
  height: 100px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  border-style:solid;
  border-width:1px;
}

body {
	height: 100%;
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

video {
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

#main {
	margin: 0;
	padding: 10px;
}

#local_video {
	-webkit-transform: scale(-1, 1);
}

#video_container {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	margin: 0;
	padding: 0;
}

#video_container>div {
	-webkit-box-flex: 1;
	text-align: center;
}

#video_container>div>p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

#bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
}

#hangup {
	font-size: 13px;
	font-weight: bold;
	width: 128px;
	height: 24px;
	margin: 2px;
}


.flip {
-webkit-transform: rotateY(180deg);
}
