@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

.bold {
	font-weight: bold;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	display: inline;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

ol {
	margin-top: 3px;
}

.ui-widget {
	font-size: 0.7em;
}

#header {
	position: relative;
	background-color: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
	height: 90px;
	width: 100%;
}
#header img {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
}
#header .small {
	padding: 3px 5px 2px 5px;
	display: none;
}
#top {
	float: right;
	padding: 10px;
}
#toolbar {
	height: 29px;
	padding-right: 10px;
	clear: right;
	float: right;
}

#title {
	position: absolute;
	top: 35px;
	left: 290px;
	font-family: Ubuntu, sans-serif;
	font-weight: normal;
	font-size: 36px;
	color: #909090;
}
#title.small {
	position: absolute;
	top: -1px;
	left: 160px;
	font-size: 24px;
}

#title_small_room {
	padding-left: 7px;
	color: #909090;
}

#display_user_name {
	display: inline;
	vertical-align: middle;
}

#server_loading {
	position: absolute;
	top: 35%;
	width: 100%;
	text-align: center;
}

#server_loading h2 {
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

#splash {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
}

#main {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	width: 80%;
	margin: 0 auto;
	padding: 20px 0 10px 0;
}

#roomFrame {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#call_list {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #F5F5F5;
	width: 60%;
	margin: 0 auto;
}

#room_table {
	table-layout: fixed;
}

#room_table tbody h3 {
	color: #0000FF;
}

#room_table h2,#room_table h3 {
	padding: 0;
	margin: 0;
}

#room_table th {
	text-align: left;
	max-width: 50%;
}

#room_table th:first-child {
	width: 50%;
}

#room_table th:last-child {
	width: 26px;
}

#room_table th,td {
	padding: 10px;
	word-wrap: break-word;
}

#room_table tfoot td,#room_table tbody td {
	border-top: 1px solid #E5E5E5;
}

#room_table {
	position: relative;
	width: 100%;
	border-spacing: 0;
}

#room_table tbody tr:hover {
	background: #F5F5F5;
	-webkit-transition: all 0.1s ease-in-out;
	cursor: pointer;
}

.remote_user_list :last-child :last-child {
	display: none;
}

#lobby_list {
	padding: 10px;
	word-wrap: break-word;
}

#create_room {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}

.ui-icon-tangiblestatus-ok {
	background-image: url(../img/status.png) !important;
}
.ui-icon-tangiblestatus-error {
	background-image: url(../img/status.png) !important;
	background-position: -16px 0;
}
.ui-icon-tangiblestatus-warning {
	background-image: url(../img/status.png) !important;
	background-position: -32px 0;
}
