html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	display: inline;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.ui-widget {
	font-size: 0.7em;
}

#tangible_status {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}

#top {
	position: absolute;
	top: 40px;
	right: 0;
	padding: 10px;
}

#header {
	position: absolute;
	height: 90px;
	width: 100%;
	background-color: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
}

#logo {
	position: absolute;
	top: 5px;
	left: 5px;
}

#title {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 33px;
	left: 290px;
	font-family: Ubuntu, sans-serif;
	font-weight: normal;
	font-size: 36px;
	color: #909090;
}

#display_user_name {
	display: inline;
	vertical-align: middle;
}

#server_loading {
	position: absolute;
	top: 35%;
	width: 100%;
	text-align: center;
}

#server_loading h2 {
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

#splash {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
}

#main {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	width: 60%;
	margin: 0 auto;
	padding: 20px 0 10px 0;
}

#roomFrame {
	height: 100%;
	width: 100%;
}

#call_list {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 60%;
	margin: 0 auto;
}

#room_table {
	table-layout: fixed;
}

#room_table tbody h3 {
	color: #0000FF;
}

#room_table h2,#room_table h3 {
	padding: 0;
	margin: 0;
}

#room_table th {
	text-align: left;
	max-width: 50%;
}

#room_table th:first-child {
	width: 50%;
}

#room_table th:last-child {
	width: 26px;
}

#room_table th,td {
	padding: 10px;
	word-wrap: break-word;
}

#room_table tfoot td,#room_table tbody td {
	border-top: 1px solid #E5E5E5;
}

#room_table {
	position: relative;
	width: 100%;
	border-spacing: 0;
}

#room_table tbody tr:hover {
	background: #F5F5F5;
	-webkit-transition: all 0.1s ease-in-out;
	cursor: pointer;
}

#create_room {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}
