
#empty_message {
	position: absolute;
	bottom: 50%;
	left: 0;
	right: 0;
	text-align: center;
}

#videos {
	position: absolute; 
	top: 31px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#chatbox {
	position: absolute;
	width: 250px;
	top: 31px;
	right: 0;
	bottom: 0;
	background-color: white;
	border-left: 1px solid #A5A5A5;
	z-index: 2;
}

#messages {
	position: absolute;
	top: 0;
	bottom: 44px;
	right: 0;
	width: 245px;
	overflow-y: scroll;
	word-wrap: break-word;
}

#inputbox {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
	width: 240px;
	background-color: #E5E5E5;
}

#chatinput {
	padding: 5px;
	width: 240px;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.ui-widget {
	font-size: 0.7em;
}

video {
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

#you {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 250px;
	-webkit-transform: rotateY(180deg);
	z-index: 1;
}
